.selector-for-some-widget {
    box-sizing: content-box;
<<<<<<< HEAD
  }

  body {
    background-image: url("./Main/myFitnessZone.png");
    background-repeat: no-repeat;
  }
=======
}
>>>>>>> main
