<body>


    <div class="test">
        <div class="card-alignment" style="width: 32rem;">

            <div class="card-body">
                <h5 class="card-title">Create User</h5>
                <i class="fa fa-user fa-4x" aria-hidden="true"></i>
            </div>
            <ul class="list-group list-group-flush">
                <input class="form-input" type="text" id="first-name" name="first-name" value="First Name" />
                <br>
                <input class="form-input" type="text" id="last-name" name="last-name" value="Last Name" />
                <br>
                <input class="form-input" type="text" id="gender" name="gender" value="Gender" />
                <br>
                <input class="form-input" type="text" id="age" name="age" value="Age" />
                <br>
                <input class="form-input" type="text" id="height" name="height" value="Height" />
                <br>
                <input class="form-input" type="text" id="weight" name="weight" value="Weight" />
                <br>
                <input class="form-input" type="text" id="email" name="email" value="Email@yahoo.com" />
                <br>
                <input class="form-input" type="text" id="password" name="password" value="Password" />
                <br>
            </ul>
            <div class="card-body">
                <button onclick="signupHandler()" type="button" class="btn btn-primary btn-lg" id="signupbtn" type="submit">Sign up
            </div>
    </div>
</div>
</body>

<script src="./assets/js/signup.js"></script>
