<body>
<div class="test">
    <div class="card-alignment" style="width: 32rem;">
        <div class="card-body">
            <h5 class="card-title">Create User</h5>
            <i class="fa fa-user fa-4x" aria-hidden="true"></i>
        </div>
        <ul class="list-group list-group-flush">
            <input class="form-input" type="text" id="first-name" name="first-name" placeholder="First Name"/>
            <br>
            <input class="form-input" type="text" id="last-name" name="last-name" placeholder="Last Name"/>
            <br>
            <input class="form-input" type="text" id="gender" name="gender" placeholder="Gender"/>
            <br>
            <input class="form-input" type="text" id="age" name="age" placeholder="Age"/>
            <br>
            <input class="form-input" type="text" id="height" name="height" placeholder="Height"/>
            <br>
            <input class="form-input" type="text" id="weight" name="weight" placeholder="Weight"/>
            <br>
            <input class="form-input" type="text" id="email" name="email" placeholder="Email@yahoo.com"/>
            <br>
            <input class="form-input" type="text" id="password" name="password" placeholder="Password"/>
            <br>
        </ul>
        <div class="card-body">
            <button onclick="signupHandler()" type="button" class="btn btn-primary btn-lg" id="signupbtn" type="submit"> Sign up <i class="fa fa-user-plus" aria-hidden="true"></i></button>
        </div>
        <div class="card-body">
            <a href="/" class="btn btn-primary btn-lg"> Login </a>
        </div>
    </div>
</div>
<script src="assets/js/signup.js"></script>
</body>