<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/78a2821f83.js" crossorigin="anonymous"></script>
    <link href="./assets/css/style.css" rel="stylesheet">
    <title>My Fitness Zone</title>
</head>

<body>

    <div class="test">
        <div class="card-alignment" style="width: 32rem;">

            <div class="card-body">
                <h5 class="card-title">Create User</h5>
                <i class="fa fa-user fa-4x" aria-hidden="true"></i>
            </div>
            <ul class="list-group list-group-flush">
                <input class="form-input" type="text" id="first-name" name="first-name" value="First Name" />
                <br>
                <input class="form-input" type="text" id="last-name" name="last-name" value="Last Name" />
                <br>
                <input class="form-input" type="text" id="gender" name="gender" value="Gender" />
                <br>
                <input class="form-input" type="text" id="age" name="age" value="Age" />
                <br>
                <input class="form-input" type="text" id="height" name="height" value="Height" />
                <br>
                <input class="form-input" type="text" id="weight" name="weight" value="Weight" />
                <br>
                <input class="form-input" type="text" id="email" name="email" value="Email@yahoo.com" />
                <br>
                <input class="form-input" type="text" id="password" name="password" value="Password" />
                <br>
                <input class="form-input" type="text" id="password" name="password" value="Confirm Password" />
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-lg" id="signupbtn" type="submit">Sign up
            </div>
        </div>
    </div>

<script src="../public//assets/js/signup.js"></script>

</body>

</html>
