.selector-for-some-widget {
    box-sizing: content-box;
}

html {
    background: url("../img/fitnesss.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.signupbtn2 {
    display: block;
    position: relative;
    top: 250px;
    float: right;
    height: 50px;
    width: 350px;
}

.loginbtn2 {
    position: relative;
    top: 350px;
    left: 350px;
    display: block;
    float: right;
    height: 50px;
    width: 100px;
}

.navbar-custom {
    margin-bottom: 15px;
}

.main {
    margin-left: 500px
}

.profile {
    padding: 10px
}

label {
    margin:0px;
}

label p {
    font-size: 15px;   
    font-weight: bold; 
}

.form-input {
    margin-bottom: 10px;
    padding: 10px;   
    border-radius: 5px;
    opacity: 80%;
}

.form-input:hover {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    opacity: 100%;
}

#saveBtn {

}
