.selector-for-some-widget {
    box-sizing: content-box;
}

html {
    background: url("../img/fitnesss.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.signupbtn2 {
    display: block;
    position: relative;
    top: 250px;
    float: right;
    height: 50px;
    width: 350px;
}

.loginbtn2 {
    position: relative;
    top: 350px;
    left: 350px;
    display: block;
    float: right;
    height: 50px;
    width: 100px;
}