.card-alignment {
    height: 800px;
    margin: auto;
    width: 80%;
    color: black;
    border: solid;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 50px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#savebtn {
    height: 100px;
    width: 250px;
    font-size: 30px;
}

#workout-name {
    height: 50px;
}

#date {
    height: 50px;
}

#workout-type {
    height: 50px;
}